.blockchain {
    font-size: 16px;
    height: 10em;
}

.gitblock {
    display: inline-block;
    width: 10em;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: #ddd;
    padding: 0.5em;
}

.blockname, .blockparent {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 10em;
}

.blockarrow {
    font-size: 24px;
    display: inline-block;
    width: 1em;
    vertical-align: 80px;
}

.gitblock textarea {
    line-height: 1.3;
    margin: 0;
}

.gitblock_id, .gitblock_parent {
    background-color: #fff;
    padding: 2px;
}
